body {
    text-align: center;
    background-image: linear-gradient(to right,#BB2525, #b45454 );
    font-family: Arial, Helvetica, sans-serif;
}

.tabela {
    border: 5px solid black;
    border-radius: 5px;
}

.titulo {
    background-color: #FF6969;
}

.todos {
    background-color: #FF6969;

}

input {
    background-color: #FF6969;
    border: 1px solid black;
}

option {
    background-color: #FF6969;
}

select {
    background-color: #FF6969;
    border: 1px solid black;
    
}

fieldset {
    border-color: #141E46;
    margin: 15px;
    padding: 0px;
    padding-top: 0px;
    margin-top: 1px;
    background-color: beige;
}

button {
    background-color: #CBFFA9;
    border-color: #00DFA2;
}

#resposta1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: larger;
}
#resposta2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: larger;
}
#resposta3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: larger;
}
#resposta4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: larger;
}
#resultado {
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: larger;
}